@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../style/fonts/gilroy-bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../style/fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../style/fonts/gilroy-bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../style/fonts/gilroy-bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../style/fonts/gilroy-bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../style/fonts/gilroy-bold.svg#gilroy-bold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../style/fonts/gilroy-medium.eot');
    /* IE 9 Compatibility Mode */
    src: url('../style/fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../style/fonts/gilroy-medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../style/fonts/gilroy-medium.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../style/fonts/gilroy-medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../style/fonts/gilroy-medium.svg#gilroy-medium') format('svg');
    /* Chrome < 4, Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
    font-family: Gilroy-Bold;
}

p {
    font-family: Gilroy-Medium;
    line-height: 100%;
}

h2 {
    font-size: 34px;
    line-height: 100%;
    margin-bottom: 34px;
    margin-top: 113px;
}

body {
    width: 100%;

    font-size: 18px;
    line-height: 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 944px;
}

.navigation {
    padding: 33px 0;
    color: #828282;
}

.greyline {
    color: #828282;
    padding: 0;
    margin: 0;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.name {
    display: flex;
    margin: 40px 0;
}

.name h1 {
    font-size: 48px;
    line-height: 59px;
}

.halfName {
    width: 50%;
    color: #070707;
    font-size: 18px;
    line-height: 22px;
}

.halfNameRight {
    display: flex;
    align-items: flex-end;
}

.portrait {
    height: 387px;
    object-fit: cover;
    margin-bottom: 104px;
}

.greyblock {
    background-color: #F6F6F6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centralText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 107px;
}

.centralText p {
    text-align: center;
    max-width: 485px;
}

.skillsBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill {
    width: 166px;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
}

.skill img {
    width: 89px;
}

.skill p {
    max-width: 89px;
    font-family: Gilroy-Bold;
    font-size: 18px;
    color: #828282;
    text-align: center;
    margin-top: 24px;
    display: flex;
    justify-content: center;

}

.skillstars {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.black {
    fill: #070707;
}

.skillstars img {
    width: 26px;
}

footer {
    flex-direction: column;
    align-items: center;
}

.social {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.social img {
    width: 40px;
}

.socialImagemarginleft {
    margin-left: 60px;
}

.smalltext {
    margin-top: 45px;
    margin-bottom: 124px;
    font-size: 14px;
    text-align: center;
}